<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Product</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/cyborg/bootstrap.min.css"
    />
  </head>
  <body>
    <form class="p-4">
      <div class="form-grup">
        <input
          type="text"
          id="name"
          class="form-control"
          placeholder="Product's Name"
          autofocus
        />
      </div>
      <div class="form-grup">
        <input
          type="text"
          id="price"
          class="form-control"
          placeholder="price"
        />
      </div>
      <div class="form-grup">
        <input
          type="text"
          id="description"
          class="form-control"
          placeholder="description"
        />
      </div>
      <button class="btn btn-primary btn-block">
        Save Product
      </button>
    </form>

    <!-- Logic -->
    <script src="./edit-product.js"></script>
  </body>
</html>
